
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    margin: 0px;
    font-family:'Noto Sans TC', '微軟正黑體', sans-serif; 
}
.gridContainer{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-auto-rows: minmax(54px,auto) minmax(320px, auto) minmax(200px, auto) minmax(auto,104px);
}
.gridSearch{
    display: grid;
    grid-column: 1/4;
    background-image: url("images/HerosectionDesktop.png");
    background-size: 100% 100%;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 25% 15% 15% 15% 30%;
    align-items: center;
}
.gridSearch p.title{
    grid-column: 2/3;
    grid-row: 2/3; 
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.gridSearch p.description{
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 16px;
    color: white;
}
.gridSearch div.inputS{
    grid-row: 4/5;
    grid-column: 2/3;
}
.inputS input[type=text]{
    height: 40px;
    width: 30%;
    border: 1px solid #FFFFFF;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding-left: 15px;
}
::placeholder{
    font-size: 16px;
    font-weight: bold;
}
#manifier{
    vertical-align: middle;
    height: 46px;
    width: 60px;
    object-fit: scale-down;
    background-color: #448899;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.gridNav{
    display: grid;
    grid-column: 1/4;
    grid-template-columns:auto 1000px 100px 100px auto;
    align-items: center;
    border-bottom: solid 1px #E8E8E8;
}
.home{
    display: grid;
    grid-column: 2/3;
    font-size: 30px;
    font-weight: bold;
    color: #448899;
}
.home a{
    color: inherit;
    text-decoration: none;
}
.nav_booking{
    cursor: pointer;
    display: grid;
    grid-column: 3/4;
    justify-items: end;
    font-size: 16px;
    color: #666666;
}
.nav_login{
    display: none;
    cursor: pointer;
    grid-column: 4/5;
    justify-items: end;
    font-size: 16px;
    color: #666666;
}
.nav_logout{
    display: none;
    cursor: pointer;
    grid-column: 4/5;
    justify-items: end;
    font-size: 16px;
    color:#666666;
}

.gridList{
    margin-top: 50px;
    margin-bottom: 50px;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: auto;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
}
a{
    text-decoration: none;
}
.card{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding-bottom: 10px;
}
.a{
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: gray;
    padding-left: 10px;
}
.b{
    display: inline;
    font-size: 16px;
    color: gray;
    padding-left: 10px;
    text-align: left;
}
.c{
    font-size: 16px;
    color: gray;
    padding-right: 10px;
    float: right;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.footer{
    display: grid;
    grid-column: 1/4;
    grid-row: auto;
    align-items: center;
    background-color: gray;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* 登入框 */
.modal{
    visibility: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.modalcard_login{
    display: none;
    max-width: 340px;
    height: 275px;
    margin-top: 80px;
    border-radius: 6px;
    background-color: white;
    border: none;
}
.modalcard_register{
    display: none;
    max-width: 340px;
    height: 332px;
    margin-top: 80px;
    border-radius: 6px;
    background-color: white;
    border: none;
}
.border{
    width: 340px;
    height: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}
.modal .title{
    color: #666666;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.modal .closebtn{
    cursor: pointer;
    position: relative;
    top: -30px;
    left: 90%;
    font-size: 16px;
    color: #666666;
}
form{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: -5%;
}
form input{
    width: 295px;
    height: 47px;
    padding: 0;
    padding-left: 15px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;;
}
form button{
    width: 312px;
    height: 49px;
    padding: 0px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 19px;
    background: #448899;
}
.reminder{
    position: relative;
    bottom: 5px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    text-decoration: none;
}
#login_fail, #register_mesg{
    color: tomato;
}
/* 平板 */
@media (max-width:1200px){
    .gridContainer{
        grid-template-columns: 10px auto ;
    }
    .gridSearch{
        grid-template-columns: 10px auto;
        background-size: cover;
        background-position: 50%;
    }
    .gridNav{
        grid-template-columns:10px 1fr 100px 100px 10px;
    }
    p.title{
        grid-column: 2/3;
    }
    p.description{
        grid-column: 2/3;
    }
    .inputS{
        grid-column: 2/3;
    }
    .gridList{
        grid-template-columns: repeat(2,1fr);
        grid-column: 1/4;
        margin: 20px;
    }
}
/* 手機 */
@media (max-width:670px){
    .gridContainer{
        grid-template-columns:auto ;
    }
    .gridSearch{
        grid-template-columns: 20px auto;
        background-size: cover;
        background-position: 59%;
    }
    .gridNav{
        grid-template-columns:5% 150px 1fr 1fr 5%;
    }
    p.title{
        grid-column: 2/3;
    }
    p.description{
        grid-column: 2/3;
    }
    .inputS{
        grid-column: 2/3;
    }
    .inputS input[type=text]{
        width: 60%;
    }
    .gridList{
        grid-template-columns: repeat(1,1fr);
    }
}