<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taipei Trip</title>
    <link rel="stylesheet" href="{{url_for('static',filename='attractionstyle.css')}}">
    <script src="{{url_for('static',filename='attractionscript.js')}}" defer></script>
</head>
<body>
    <div class="gridContainer">
        <div class="gridNav">
            <div class="home"><a href="/">台北一日遊</a></div>
            <div class="nav_booking">預定行程</div>
            <div class="nav_login" id="nav_login">登入/註冊</div>
            <div class="nav_logout" id="nav_logout">登出系統</div>
        </div>
        <div class="attracionContainer">
            <div class="imageCarousel">
                <button class="left" onclick="slides(-1)">&#10094;</button>
                <button class="right" onclick="slides(1)">&#10095;</button>
                <div class="dots">
                </div>
            </div>
            <div class="imageDetail">
                <p class="title"></p><p class="mrt"></p>
                <div class="bookingCard">
                    <p class="book">訂購導覽行程</p>
                    <p class="intro">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <label for="start" class="date"><p class="date">選擇日期：
                    <input type="date" id="start" name="trip-start" max="2023-12-31">
                    </p>
                    </label>
                    <p>
                    <span class="tour">選擇時間：</span>
                    <label for="morinig" class="cost"><input type="radio" id="morinig" name="tourtime" value="morning" checked><span class="radiobtn"></span>上半天</label>
                    <label for="afternoon" class="cost"><input type="radio" id="afternoon" name="tourtime" value="afternoon"><span class="radiobtn"></span>下半天</label>
                    </p>
                    <p>
                    <span class="cost">導覽費用：</span><span>新台幣 <span class="price">2000</span> 元</span>
                    </p>
                    <button class="send">開始預訂行程</button>
                </div>
            </div>
            <div class="description">
                <hr>
                <p class="intro"></p>
                <p class="place">景點地址：</p>

                <p class="address"></p>
                <p class="trans">交通方式：</p>
                <p class="transhow"></p>
            </div>
        </div>
        <div class="footer" id="footer">
            <p class="foo">COPYRIGHT©台北一日遊</p>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modalcard_login" id="modalcard_login">
            <div class="border"></div>
            <div class="title">登入會員帳號</div><div class="closebtn" >&times;</div>
            <form action="/api/user" method="PATCH" id="form_login">
                <input type="text" name="email" id="email" placeholder="輸入電子信箱" required>
                <input type="password" name="password" id="password" placeholder="輸入密碼" required>
                <button type="submit">登入帳戶</button>
                <span id='login_fail'></span>
            </form>
            <div class="reminder">還沒有帳戶？<a href="#" id="registerbtn">點此註冊</a></div>
        </div>
        <div class="modalcard_register" id="modalcard_register">
            <div class="border"></div>
            <div class="title">註冊會員帳號</div><div class="closebtn" >&times;</div>
            <form action="/api/user" id="form_register" method="POST"> 
                <input type="text" name="name" id="" placeholder="輸入姓名" required>
                <input type="text" name="email" id="" placeholder="輸入電子信箱" required>
                <input type="password" name="password" id="" placeholder="輸入密碼" required>
                <button type="submit">註冊新帳戶</button>
                <span id='register_mesg'></span>
            </form>
            <div class="reminder">已經有帳戶了？<a href="#" id="loginbtn">點此登入</a></div>
        </div>
    </div>
    
</body>
</html>