<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js" defer></script>
</head>
<body>
    <div class="gridContainer">
        <div class="gridNav">
            <div class="home">台北一日遊</div>
            <div class="nav1">預定行程</div>
            <div class="nav2">登入/註冊</div>
        </div>
        <div class="gridSearch">
             <p class="title">輕鬆享受台北一日悠閒</p>
             <p class="description">探索每個角落，體驗城市的深度旅遊行程</p>
             <div class="inputS"><input type="text" id="kw" placeholder="輸入景點名稱查詢"><input type="image" id="manifier" src="static/images/icon_search.png">
             </div>
        </div>
        <div class="gridList" id="gridLi">
            <!-- <div class="card"><img src="images/1.png"><p class="a">平安鐘</p><p class="b">忠孝復興<span class="c">公共藝術</span></p></div>
            <div class="card"><img src="images/1.png"><p class="a">平安鐘</p><p class="b">忠孝復興<span class="c">公共藝術</span></p></div>
            <div class="card"><img src="images/1.png"><p class="a">平安鐘</p><p class="b">忠孝復興<span class="c">公共藝術</span></p></div>
            <div class="card"><img src="images/1.png"><p class="a">平安鐘</p><p class="b">忠孝復興<span class="c">公共藝術</span></p></div>
            <div class="card"><img src="images/1.png"><p class="a">平安鐘</p><p class="b">忠孝復興<span class="c">公共藝術</span></p></div>
            <div class="card"><img src="images/1.png"><p class="a">平安鐘</p><p class="b">忠孝復興<span class="c">公共藝術</span></p></div>
            <div class="card"><img src="images/1.png"><p class="a">平安鐘</p><p class="b">忠孝復興<span class="c">公共藝術</span></p></div>
            <div class="card"><img src="images/1.png"><p class="a">平安鐘</p><p class="b">忠孝復興<span class="c">公共藝術</span></p></div> -->
        </div>
        <div class="footer" id="footer">
            <p class="foo">COPYRIGHT©台北一日遊</p>
        </div>
    </div>
</body>
</html>